html
    head
        link(rel="stylesheet" href="/public/styles.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    body
        script(src="https://js.stripe.com/v3/")
        div(class="container")
            h1 Paiement en ligne
            p Montant à payer : 5€
            form(action="/charge", method="post")
                div(class="form")
                    div(class="row")
                        div(class="col-sm-12")
                            label(for="card-number") Numéro de carte
                            div(id="card-number")
                    div(class="row")
                        div(class="col-sm-6")
                            label(for="card-expiration") Date d'expiration
                            div(id="card-expiration")
                        div(class="col-sm-6")
                            label(for="card-cvc") Cryptogramme
                            div(id="card-cvc")
                    div(class="row")
                        div(id="card-errors" role="alert")
                button(class="btn btn-primary") Confirmer
        script(src="/public/index.js")