html
    head
        link(rel="stylesheet" href="/public/styles.css")
    body
        script(src="https://js.stripe.com/v3/")
        form(action="/charge", method="post")
            div(class="form-row")
                label(for="card-element") Credit or debit card
                div(id="card-element")
                div(id="card-errors" role="alert")
            button Submit Payment
        script(src="/public/index.js")